Field,Value
EventType,{{ file_event_data.event_type }}
Path,"{{ file_event_data.path }}"
User,{{ file_event_data.user }}
Timestamp,{{ file_event_data.timestamp }}
Diff,"{{ file_event_data.diff | replace('"', '""') | replace('\n', ' ') }}"